<div>
    <br>
    <br>

    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" name="srch-term" ng-model="searchString"
               id="srch-term">

        <div class="input-group-btn">
            <button class="btn btn-default" type="submit" ng-click="findwiki(searchString)"><i
                    class="glyphicon glyphicon-align-left glyphicon-search"></i> search
            </button>
        </div>
    </div>
    <div>
        <accordion close-others="oneAtATime">
            <accordion-group heading="{{tit.title}}" ng-repeat="tit in filteredLinks">
                <wikisite></wikisite>
            </accordion-group>
        </accordion>
        <pagination total-items="totalItems" ng-model="currentPage">

        </pagination>
        <!--<ul>-->
            <!--<li ng-repeat="site in filteredLinks"><a-->
                    <!--href="#/wiki/{{site.title}}" tooltip="{{site.abstract}}" tooltip-placement="right"-->
                    <!--tooltip-popup-delay="200">{{site.title}}</a>-->
            <!--</li>-->

            <!--<pagination total-items="totalItems" ng-model="currentPage">-->

            <!--</pagination>-->
            <!--wikiSite-->
        <!--</ul>-->
    </div>
</div>




