<div data-ng-init="getCategories()">
    <div class="btn-group btn-group-sm">
        <button class="btn btn-default" ng-click="resetCategories()">All</button>
        <button class="btn btn-default" ng-click="getCategoriesWithLetter('A')">A</button>
        <button class="btn btn-default" ng-click="getCategoriesWithLetter('B')">B</button>
        <button class="btn btn-default" ng-click="getCategoriesWithLetter('C')">C</button>
        <button class="btn btn-default" ng-click="getCategoriesWithLetter('D')">D</button>
        <button class="btn btn-default" ng-click="getCategoriesWithLetter('E')">E</button>
        <button class="btn btn-default" ng-click="getCategoriesWithLetter('F')">F</button>
        <button class="btn btn-default" ng-click="getCategoriesWithLetter('G')">G</button>
        <button class="btn btn-default" ng-click="getCategoriesWithLetter('H')">H</button>
        <button class="btn btn-default" ng-click="getCategoriesWithLetter('I')">I</button>
        <button class="btn btn-default" ng-click="getCategoriesWithLetter('J')">J</button>
        <button class="btn btn-default" ng-click="getCategoriesWithLetter('K')">K</button>
        <button class="btn btn-default" ng-click="getCategoriesWithLetter('L')">L</button>
        <button class="btn btn-default" ng-click="getCategoriesWithLetter('M')">M</button>
        <button class="btn btn-default" ng-click="getCategoriesWithLetter('N')">N</button>
        <button class="btn btn-default" ng-click="getCategoriesWithLetter('O')">O</button>
        <button class="btn btn-default" ng-click="getCategoriesWithLetter('P')">P</button>
        <button class="btn btn-default" ng-click="getCategoriesWithLetter('Q')">Q</button>
        <button class="btn btn-default" ng-click="getCategoriesWithLetter('R')">R</button>
        <button class="btn btn-default" ng-click="getCategoriesWithLetter('S')">S</button>
        <button class="btn btn-default" ng-click="getCategoriesWithLetter('T')">T</button>
        <button class="btn btn-default" ng-click="getCategoriesWithLetter('U')">U</button>
        <button class="btn btn-default" ng-click="getCategoriesWithLetter('V')">V</button>
        <button class="btn btn-default" ng-click="getCategoriesWithLetter('W')">W</button>
        <button class="btn btn-default" ng-click="getCategoriesWithLetter('X')">X</button>
        <button class="btn btn-default" ng-click="getCategoriesWithLetter('Y')">Y</button>
        <button class="btn btn-default" ng-click="getCategoriesWithLetter('Z')">Z</button>

    </div>
<!--<ul data-ng-init="getCategories()">-->
<ul>
    <li ng-repeat="category in filteredLinks"><a href ="#/category/{{category}}">{{category}}</a></li>
</ul>
<pagination ng-model="currentPage" total-items="totalItems" max-size="maxSize" items-per-page="numPerPage" maxSize="maxSize" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
</div>
