<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head lang="en">-->
<!--<meta charset="UTF-8">-->
<!--<title></title>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->
<div class="container">
    <h2>Welcome to team007's CA4 project page</h2>

    <h3>Documentation:</h3>
    <h4>Overall functionality:</h4>
    <p>This projects is a combination of a database, node-js server with rest-api and a client-end angular application. The purpose of it is to correctly handle large amounts of data and serve the relevant content to the webpage. </p> <p>Functionality on the webpage consists of:</p>
    <p><b>"Home"</b> view shows the intro text and this documentation.</p>
    <p><b>"Search Wikis"</b> view, which allows the user to search for matching titles in the database and by clicking a result is
    directed to a wiki page on the subject. </p>
    <p><b>"Search Wikis-2"</b> view, which does the same as the first one, except the results are now paginated and shown in
    accordion, which when clicked, expands into a wiki page. </p>
    <p><b>"Categories"</b> view allows the user to click a letter which results in a sorted paginated view including all
    categories beginning with that letter. When a category is clicked, the browser is directed to a new view showing the
    topics belonging to that category. When a topic is then clicked, the corresponding wiki page is shown.</p>
    <p><b>"Categories-2"</b> view is similar to the "Categories view" except all the categories are now shown in accordions. They
    expand to show topics in the corresponding category, which when clicked, redirects to the wiki page.</p>
    <h4>Backend tests:</h4>
    <p>We set up a test database with some test data, and then tested each one of the four different routes in the
    rest-api, checking if the returned data matches the expected value.</p>
    <h4>Frontend tests:</h4>
    <p>We did a test of a factory and if its methods where defined. Then we proceeded to test the individual methods and their http requests, while using $httpBackend to see if the correct value came back.</p>
    <h4>Who did what:</h4>
    <p>We worked on all parts together, so it is impossible to say who did what in particular.</p>
</div>